@import "./font-face";

:root {
    --main-color: #000;
    --accent-color: #7785ff;

    --border-radius: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    margin: 0;
}
