.wrap {
    position: relative;
    display: flex;
    margin-bottom: 10px;

    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='9' width='14' viewBox='0 0 14 9' xmlns='http://www.w3.org/2000/svg'><path d='M0.292847 1.70718L1.70706 0.292969L6.99995 5.58586L12.2928 0.292969L13.7071 1.70718L6.99995 8.41429L0.292847 1.70718Z'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: 50%;

        &::-ms-expand {
            display: none;
        }
    }
}

.label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color);
    margin-left: 26px;
    user-select: none;

    &:after {
        z-index: 1;
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: var(--white-color);
        border: 2px solid var(--main-color);
        top: -2px;
        left: 0;
    }

    &::before {
        z-index: 2;
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy4yMDcxIDIuMjA3MThMNS40OTk5NSA5LjkxNDI5TDAuMjkyODQ3IDQuNzA3MThMMS43MDcwNiAzLjI5Mjk3TDUuNDk5OTUgNy4wODU4NkwxMS43OTI4IDAuNzkyOTY5TDEzLjIwNzEgMi4yMDcxOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        top: -2px;
        left: 0;
    }
}

.checkbox {
    visibility: hidden;
    width: 0;
    height: 0;

    &:checked + .label:after {
        background-color: var(--accent-color);
        border: 2px solid var(--accent-color);
    }

    &:checked + .label:before {
        opacity: 1;
    }
}
