.wrap {
    display: flex;
}

.label {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: var(--main-color);
}

.input {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--main-color);
    border-radius: var(--border-radius);
    outline: none;
    height: 45px;
    padding: 10px 12px;

    option {
        padding: 0;
    }
}
