.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings {
    padding: 20px;
    background-color: var(--light-color);
}

.queueSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.queue {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;

    @media (max-width: 440px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 320px) {
        grid-template-columns: 1fr;
    }
}

.placeholderWrap {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.placeholder {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    display: flex;
    align-items: center;

    svg {
        margin-bottom: 15px;
    }

    span {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: var(--main-color);
        margin-bottom: 10px;
        text-align: center;
    }
}
