.button {
    user-select: none;
    background-color: var(--main-color);
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 0;
    outline: none;

    span {
        color: var(--white-color);
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 700;
    }
}

.accent {
    background-color: var(--accent-color);
}
